html{
    background-color: aquamarine;
}

nav{
    background-color: bisque;
    border-radius: 5px;
    
}

ul{
    text-align: center;
}
li{
    display: inline-block;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 10px;
    border: 10px;   
}

li > a{
    text-decoration-line: none;
    color: black;
}
 
li > a:hover{
    color:blue;
} 

form{
    background-color: aliceblue;
    border-radius: 5px;
}
input{
    width: 100%;
    height: 30px;   
}

 label{
    font-family: 'Verdana', 'Arial';
    font-size: large;
}

 input[type=submit]{
    font-family: 'Arial';
    width: 10%;
    height: 5%;
    color: green;
    font-size: medium;
    border-radius: 5px;
}

input[type=submit]:hover{
    background-color: darkgrey;
    color: lightgreen;
}

input[value=Toggle]{
    width: fit-content;
    height: fit-content;
}

table{
    text-align: center;
    font-size: large;
    border-collapse: collapse;
    margin: 25px 0;
    
}
tr{
    max-width: auto;
}
thead + tr{
    background-color: white;
}
tr:nth-child(even){
    background-color: white;
}
tr:nth-child(odd){
    background-color: burlywood;
}
td, th{
    padding: 2% 2%;
    text-align: center;
    min-width: 80px;
}
